@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
body {
  background-image: url("bac.png");
  background-size: 100%;
}
.row {
  margin: 3px;
  display: inline-block;
}
.container {
  text-align: center;
  margin: 0 auto;
}

h1 {
  transition: .5s ease-in;
  font-size: 70pt;
  font-weight: 900;
  color: rgb(8, 57, 131);
}
h1:hover{
  transition: .5s ease-in;
  color: rgb(201, 29, 45);
}

.timeline-Tweet-text {
  color: red;
}
.tweet{
width: "50em";
height: "25em";

}

#economist{

}

#nytimes{

}

#wsj{

}

#hufpo{

}

#msnbc{

}

#ocd{

}

#fox{

}

#hill{

}

#breit{

}

#npr{

}

#cnn{

}

#reuters{

}
